@import "./imports/_normalize.scss";

*{ box-sizing: border-box }
img {
   width: 100%;
   display: block;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}


.real-navbar {
  width: 100%;
  position: relative;
  display: none;

  @media screen and (min-width:992px){
    display: block;
  }

.navbary,.register {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: 2%;
}

.navbary {
  width: 50%;
  position: absolute;
  left: 3%;

}
.img-navy {
  height: 50px;
  position: absolute;
  top: -42%;
  left: -42%;


}

  .register {
    width: 50%;
    display: inline-block;
    text-align: right;

  }

  .register p {
    vertical-align: top;
    display:inline-block;
    padding-left: 10px;
  }

}

.nav-bar {
  width: 100%;

  @media screen and (min-width:992px){
    display: none;
  }

  ul, li {
    display: inline-block;
  }

   /* __INSTRUCTOR-COMMENT__
       this is NOT how you want to be doing positioning.
       any time you see these large numbers, should be a major red-flag

       this sort of fixed positioning with numbers as large as these wreaks havoc
       on mobile styles
    */

    .img-1 {
      height: 30px;
      position: absolute;
      right: 40%;
      top: 3%;
    }

    .fa-bars {
      position: absolute;
      left: 93%;
      top: 3%;
    }
  }



.opener {
  background: url("../images/images/roomies-eating-together-bg.jpg")center center no-repeat;
  background-size: cover;
  color: white;
  padding-bottom: 180px;
  margin-bottom: 0;

  h1 {
    padding-top: 30px;
  }

   /* __INSTRUCTOR-COMMENT__
       don't fix the width
    */
  .search-bar {
    color: #C6C6C6;
    margin: 0 auto;
    }

    .fa-search {
      background-color: #8CC4D0;
      padding: 6px 25px;
      color: white;
    }
  }

  /* __INSTRUCTOR-COMMENT__
      at least put a background behind the text to make it readable over the background
   */
  .second-string {
    color: white;
    padding-bottom: 100px;
    background: url("../images/images/buildings-yellow-green.svg") center right no-repeat;

    background-color: #7AC0CE;


    .btn-1 {
      color: white;
      background-color: #35414E;
    }
  }

.roommate-finder {
  padding-bottom: 90px;

  .first-para {
    padding-bottom: 90px;

  }

  h1 {
      color: #8CC4D0;
    }

    .thumbnails img {
      height: 175px;
    }

    .find-it{
      padding-top: 50px;
    }
}

  .friends {
    background: url("../images/images/happy-roomies-bg.jpg") center center no-repeat;
    background: cover;
    color: white;

    ul,li {
        display:inline-block;
        text-decoration: none;
        margin: 0 auto;
        padding: 15px;
      }

    li {
      border-radius: 60%;
      background-color: #67C3D0;
      }

      .fa-paper-plane-o {
        background-color: #35414E;
        padding: 6px 25px;
      }
    }

.stories {

    padding-bottom: 70px;

    h1,h3 {
      color: #8CC4D0;
    }
    img {
      width: 105px;
      height: 110px;
      margin: 0 auto;
    }
}

.featured-rooms {
  background-color: #F7C760;

  .rooms {
    position: relative;
    margin: 50px;
  }

   h3 {
     padding: 25px 0px;
   }
   .t-nails {
     text-align: left;
   }

   .tina,.buds, .nicole {
     border-radius: 50%;
     height: 75px;
     width: 75px;
     position: relative;
    //  left: 63px;
    //  bottom: 133px;
     border: 1px solid white;
     transform: translate(140%,-128%);
   }

   .room-button {
     background-color: #35414E;
     color: white;
     margin-bottom: 30px;
     padding: 5px 15px;
     margin-top: 5px;
   }
}

.footer {
  background-color: #35414E;
  color: white;

  @media screen and (min-width:992px){
    display: none;
  }

  ul, li {
    text-decoration: none;
    display: inline-block;
    padding: 0px 15px;
  }

 .footer-img {
  width: 100px;
  margin: 0 auto;
  padding-top: 10px;
}

.fa {
  border: 1px solid white;
  border-radius: 80%;
}

.social-list {
  padding: 20px 0px;
  border-bottom: 1px solid white;
 }
}

.big-foot {
  background-color: #35414E;
  color: white;
  // display: inline-block;
  margin: 0 auto;
  vertical-align: top;
  width: 100%;
  display: none;
  @media screen and (min-width:992px){
    display: block;
  }


  .left-side{

    text-align: left;
    border-right: 1px solid white;
    margin: 0;
  }

    img  {
      height: 45px;
      }


  .middle {

    margin: 0 auto;
    border-right: 1px solid white;
    vertical-align: top;
  }

  .list-1, .list-2 {
    display: inline-block;
    vertical-align: top;
    }

      ul {
        list-style-type: none;
      }

    }
